{% extends "base.html.jinja" %}
{% block content %}
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Lista samochodów</h1>
            </div>
        </div>
    </header>

    <div class="container mb-4 mt-3 text-center"> 
    {% for category in categories %}
        <h3 clas="my-3" >{{category}}</h3>
        <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for car in cars %}
            {% if car.category == category %}
            <div class="col">
                <div class="card text-center">
                    <div class="card-header">
                        {{car.brand}} {{car.model}}
                    </div>
                    <div class="card-body">
                    <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                        <p class="card-text">Silnik <span class="badge text-bg-primary rounded-pill">{{car.engine_type}}</span></p>
                        <p class="card-text">Liczba osób <span class="badge text-bg-primary rounded-pill">{{car.seats_count}}</span></p>
                        <a href="{% url 'rent' car_id=car.id %}" class="btn btn-primary">Wypożycz</a>
                    </div>
                    <div class="card-footer text-body-secondary">
                        2 days ago
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
    {% endfor %}
    </div>
    <div class="container mb-3 mt-3">
        {{cars2 | safe}}
    </div>
{% endblock content %}
{% block script %}
    <script>let table = new DataTable('#cars2');</script>
{% endblock script %}