{% extends "base.html.jinja" %}
{% block content %}

  <main class="w-75 mx-auto bg-dark text-white my-5 px-3 rounded  text-center d-flex flex-column">
    <h1 class="mt-5 p-2">Sprawdz nasza oferte</h1>
    <p class="lead p-2">Kliknij i przekonaj sie sam</p>
    <p class="lead my-5 p-2">
           <a href="#" class="btn btn-lg btn bg-white fw-bold ">Dowiedz sie wiecej</a>
    </p>
  </main>

{% endblock content %}